body {
  
	background-color: #eee;

}



.form-resetPassword {
  
	max-width: 500px;
  
	/* padding: 15px; */
  
	margin: 0 auto;

}


.form-resetPassword .form-resetPassword-heading,
.form-resetPassword .checkbox {

  	margin-bottom: 10px;

}



.form-resetPassword .form-control {

	position: relative;
  
	height: auto;
  
	-webkit-box-sizing: border-box;
	
   -moz-box-sizing: border-box;

          	box-sizing: border-box;
  
	padding: 5px;
  font-size: 12px;

}


.form-resetPassword .form-control:focus {

	z-index: 2;

}




.form-resetPassword input[type="text"] {
  
	margin-bottom: 5px;
  
	border-top-left-radius: 0;
  
	border-top-right-radius: 0;
  
	border-bottom-right-radius: 0;

	border-bottom-left-radius: 0;

	max-height: 30px;

}


.form-resetPassword input[type="email"] {
  
	margin-bottom: 5px;
  
	border-top-left-radius: 0;
  
	border-top-right-radius: 0;
  
	border-bottom-right-radius: 0;

	border-bottom-left-radius: 0;

	max-height: 30px;

}


.form-resetPassword input[type="password"] {
  
	margin-bottom: 5px;
  
	border-top-left-radius: 0;
  
	border-top-right-radius: 0;
  
	border-bottom-right-radius: 0;

	border-bottom-left-radius: 0;

	max-height: 30px;

}

.form-defect label {
  
	margin-bottom: 5px;
  
	border-top-left-radius: 0;
  
	border-top-right-radius: 0;
  
	border-bottom-right-radius: 0;

	font-size: 12px;


}

