body {
  
	/* background-color: #eee; */
	background-image:url('select_project_background.png');
	background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1000px 600px;
    background-size: center;

}

#box{
	background-color: #FFFFFF;
}

#selectProject{
	background-color: #2E64FE;
}

.form-defect {
  
	max-width: 900px;
  
	/* padding: 15px; */
  
	margin: 0 auto;

}


.form-defect .form-defect-heading,
.form-defect .checkbox {

  	margin-bottom: 10px;

}


.form-defect .checkbox {

  	font-weight: normal;

}


.form-defect .form-control {

	position: relative;
  
	height: auto;
  
	-webkit-box-sizing: border-box;
	
   -moz-box-sizing: border-box;

          	box-sizing: border-box;
  
	padding: 5px;
  font-size: 12px;

}


.form-defect .form-control:focus {

	z-index: 2;

}




.form-defect input[type="text"] {
  
	margin-bottom: 5px;
  
	border-top-left-radius: 0;
  
	border-top-right-radius: 0;
  
	border-bottom-right-radius: 0;

	border-bottom-left-radius: 0;

	max-height: 20px;

}

.form-defect input[type="file"] {
  
	margin-bottom: 5px;
  
	border-top-left-radius: 0;
  
	border-top-right-radius: 0;
  
	border-bottom-right-radius: 0;

}

.form-defect textarea {
  
	margin-bottom: 5px;
  
	border-top-left-radius: 0;
  
	border-top-right-radius: 0;
  
	border-bottom-right-radius: 0;

}

.form-defect label {
  
	margin-bottom: 5px;
  
	border-top-left-radius: 0;
  
	border-top-right-radius: 0;
  
	border-bottom-right-radius: 0;

	font-size: 12px;


}


.form-defect select {
  
	margin-bottom: 5px;
  
	border-top-left-radius: 0;
  
	border-top-right-radius: 0;
  
	border-bottom-right-radius: 0;

}


.form-defect table {
    
	border-top-left-radius: 0;
  
	border-top-right-radius: 0;
  
	border-bottom-right-radius: 0;

	font-size: 12px;
	

} 